/node_modules
/public/hot
/public/storage 
/public/uploads/imgs 
/public/download/generated-numbers
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
laravel-echo-server.json
.laravel-echo-server.json.swp
laravel-echo-server.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.swp
