p { 
	font-size: 1.1em;
	line-height: 25px;
}
blockquote {
	margin: 0 0 1.3em;
}
address {
	margin: 0 0 1.3em;
}
dfn {
	font-size: 1em;
}
em {
	@extend dfn;
	font-style: italic;
}
cite {
	@extend em;
}
i {
	@extend em;
}
code {
	@extend dfn;
}
kbd {
	@extend dfn;
}
tt {
	@extend dfn;
}
var {
	@extend dfn;
}

abbr {
	cursor: help;
}
acronym {
	@extend abbr;
}
mark {
	text-decoration: none;
}
ins {
	@extend mark;
}
big {
	font-size: 125%;
}

pre {
    padding: 20px 30px;
    margin-bottom: 30px;
    max-width: 100%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    border-left: 10px solid #ccc;
    font-size: 0.929em;
    overflow: auto;
}
