// Initial color
$color_white: #fff;              // White
$color_black: #000;              // Black
$color_snow: #f8f8f8;            // gray

//Text color
$color_text_main: #333;          // body text main color
$color_heading: #2c2c2c;         // Heading color
$color_meta: #b3b3b3;			 // Post meta color

//border color
$color_border_one: #e6e5e5; 	  // Widget. Feature background Stock, Read more border 
$color_border_two: #e1e1e1; 	  // featured and trending border


//Theme and other color
$color_cinder: #222d32;  		  // color cinder
$color_heather: #B8C7CE;  		  // color heather
$color_atomic: #374850;  		  // color atomic
$color_black_pearl: #1a2226;      // color black pearl
$color_bg-success: #0cc919;  		  // color greem
$color_curious_blue: #3C8DBC;  	  // color greem
$color_cinnabar: #DD4B39;  		  // color cinnabar
$color_yellow: #F5C401;  		  // color yellow
