
$font_body: 'Source Sans Pro', sans-serif;

$base_font_size: 16px;
$heading_one: 2.441em;
$heading_two: 1.953em;
$heading_three: 1.563em;
$heading_four: 1em;
$heading_five: 1em;
$heading_six: 0.8em;

$font_line_height_body: 1.95em;
$font_line_height_heading: 1.4em;
$font_line_height_paragraph: 1.75em;
$font_line_height_pre: 1.6em;