/* Date picker New */
.date-picker {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px solid #ced4da;
}

.date-picker,
.date-picker__row,
.weekday__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal
}

.date-picker__row,
.weekday__row {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row
}

.date-picker__cell,
.weekday__cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
}

.date-picker__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

button {
	color: #000;
    font-size: 18px;
    padding: 5px 10px;
    background: transparent;
    border: none;
}

.date-picker__month-header,
.date-picker__year-header {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.date-picker__day {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.date-picker__day--next,
.date-picker__day--previous {
    opacity: .4
}

.date-picker__day--disabled {
    opacity: .1
}

.date-picker__cell--selected {
    background: #eee
}

.text-slider__value {
    text-align: center
}

.time-picker {
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #ced4da;
}

.datetime-picker {
    position: relative
}

.datetime-picker-main {
    position: absolute;
    z-index: 1
}

.datetime-picker-inline,
.datetime-picker-main {
    width: 231px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    padding-bottom: 10px;
    z-index: 3;
    @media only screen and (max-width: 768px) {
    	width: 248px;
    }
}
#accordion .datetime-picker-main{
	width: 251px;
}

.datetime-picker-inline {
    position: relative
}

.datetime-picker-inline--disabled {
    opacity: .7
}

.datetime-picker-inline--disabled:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

.time-picker__button {
    width: 100%;
    font-size: 15px;
}

.date-picker__button {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ced4da;
}

.clear__button,
.close__button,
.today__button {
    width: 100%;
    font-size: 15px;
}
.datetime-picker__button {
    border: 1px solid #ced4da;
    width: 100%;
    border-radius: 4px;
    color: #495057;
    text-align: left;
}

.date-picker__year-button-wrapper {
	width: 33%;
    float: left;
}

.date-picker__month-button {
	font-size: 16px;
	float: left;
	width: 50%;
}
.date-picker__months, .date-picker__years {
	border-bottom: 1px solid #ced4da;
}
.time-picker__button, .today__button, .close__button {
	float: left;
    width: 33.33%;
    position: relative;
    top: 5px;
}
.date-picker__day--current:hover {
	background: #eee;
}
.date-picker__cell--selected {
	color: #0069d9;
}
.date-picker__month-button:hover, 
.date-picker__year-button:hover, 
.today__button:hover, 
.close__button:hover {
	background: #eee;
}
.date-picker__year-button {
    width: 100%;
}
